body{
    display:flex;
    flex-direction: column;
    background:rgba(230,230,230, 0.8);
    padding:5px 15px;
    width:600px;
}

header h1{
    text-align:center;
}

div ul{
    padding:unset;
}

div ul li {
    list-style:none;
    display:flex;
    margin:10px 0;
    justify-content:space-between;
}

div ul li span:first-of-type {
    width:100px;
    text-align:right;
    font-weight:bold;
}

div ul li span:last-of-type {
    width:100px;
    text-align:right;
    font-weight:bold;
}

div ul li p{
    width:100%;
    text-align:left;
    margin: 0 0 0 15px;
}